<html>
<head>
	<title>test</title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
	<div class="wrapper">
		 <%= link_to (image_tag ("dressing_gown.png"), :id => "dressing_gown") %>
		 <%= link_to (image_tag ("towel.png"), :id => "towel") %>
		 <%= link_to (image_tag ("toothbrush.png"), :id => "toothbrush") %>
		 <%= link_to (image_tag ("capsule.png"), :id => "capsule") %>
		 <%= link_to (image_tag ("bulldozer.png"), :id => "bulldozer" )%>
		 <%= link_to (image_tag ("satchel.png"), :id => "satchel" )%>
		 <%= link_to (image_tag ("ufo.png"), :id => "ufo" )%>
		 <%= link_to (image_tag ("dont_panic.png"), :id => "dont_panic" )%>
		 <%= link_to (image_tag ("worried.png"), :id => "worried" )%>

</div>

<div class="counter">
	<h2>Objects Found: 0<h2>
</div>

</body>
</html>