<html>
<head>
	<title>Jeopardy!</title>
</head>
<body>

	<h1>Jeopardy!</h1>
	<h2>Welcome [user]!</h2>
	<h2 id="status">You're on turn number <span id="which_round"> </span>!</h2>
	<!-- method to parse api results -->
	<% def render_results(response) %> 
		<h3>CATEGORY:</h3>
		<strong><%= response["title"].upcase %></strong> </br>
		<%# category_id = response["id"] %></br>
		
		<div class="question_answer_pair">	
			<% response["clues"].each do |question| %>

			<!-- split answer into an array of words and downcase them -->
			<% answer = question["answer"].downcase.split(" ") %>

			<!-- show the word "question" instead of the actual question -->
			<div class="whole_question">	
				<h2 class="whole_question_id">QUESTION</h2>
				<div class="value">	
					<h3 class="value_id">$<%= question["value"] %></h3></br>
				</div>
				<div class="individual_question">
					<%# questions_group = [] %>
					<h2 class="individual_question_id"><%= question["question"] %></br></h2>
					<!-- <h3>This answer contains <%= answer.length %> <%# answer.length === 1 ? "word" : "words"%></h3> -->

				<input type="text" class="user_answer whole_question_id" placeholder="ANSWER HERE">
				<button class="submit_answer_button whole_question_id">That's my answer and I'm sticking with it</button>
				</div>
				<!-- answer is hidden by default in main.js -->
				<div class="hidden_answer">
					<% clean_word_array = [] %>
					<% answer.each do |word| %>
						<!-- remove any html tags, and non-essential words -->
					<% clean_word = word.gsub(/(<\/?[a-zA-Z]+>)|\W(a)\s|\s(the)\s|\s(and)\s|\s(an)\s|\s(of)\s|\s(it)\s|\s(in)\s|\s(on)\s|\s(you)\s|\s(your)\s|\s(to)\s|\s+/i, "")%>
						<% clean_word_array << clean_word %>
					<% end %>
					<!-- rejoin answer into a string -->
					<%= clean_word_array.join(" ")%>
				</div>

		</div>
	<% end %>
	<div id="reveal_answer">

	</div>

</div>
<% end %>
<!-- call the method -->
<%render_results(@response) %>
<%render_results(@response2) %>
<%render_results(@response3) %>

<h2>Score: $<span id="running_score">0</span></h2> 
<button id="new_game">New Game</button>

<!-- <h2>Total Score: $<span id="total_score">0</span></h2>
 --></body>
</html>